@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Description"] = "早點下班專精程式設計，協助客戶將複雜大量的資料，迅速整理，一鍵完成。透過程式設計，轉換複雜資料格式、整理及分析大量資料、視覺化呈現，幫助企業高效經營";
    ViewData["Title"] = "關於我們｜程式設計公司｜早點下班";
    ViewData["ＰageCtrl"] = "5";
}
<ol class="breadcrumb pt-4" style="background-color:#FFFFFF">
  <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index" class="font-weight-bold">首頁</a></li>
  <li class="breadcrumb-item active">關於我們</li>
</ol>

<div class="container pb-5 px-5">
    <h1 class="font-weight-bold text-center pb-3">關於我們</h1>
    <p>早點下班專精於資料處理，協助客戶將複雜大量的資料，迅速整理，一鍵完成。透過自動化程式處理繁雜無效率的重複工作-轉換資料格式、整理及分析大量資料、視覺化呈現，幫助企業高效經營。</p>
    <p>創辦人曾在會計事務所工作，財務的資料相當龐雜且細碎，需要人工一一校對整理，只能不斷重複一樣的工作，刪除特定的儲存格、不間斷的複製、貼上再貼上。無效率的繁複工作沒有盡頭，在天剛亮的黑夜上班，在陽光初露的白夜下班，日復一日，年復一年，這樣的日子像是無底洞，晦暗又苦澀。</p>
    <p>工作…難道不能更有效率嗎？</p>
    <p>難道生命就要浪費在這無聊又繁瑣的工作嗎？</p>
    <p>帶著這個困惑，創辦人開始自學程式，學習如何用程式，幫助工作更快速且高效完成</p>
    <p>早點下班創立初衷帶著這份理解的同理心意，希望能用輕量程式解決中小企業及微型企業，在資料處理所遇到的問題，翻轉既有的工作模式。重複工作，輕鬆做。複雜數據，快速看。 </p>
    <p><strong>用程式解決重複大量工作，高效上班，早點下班！</strong></p>
</div>

