@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "版型目錄";
    ViewData["ＰageCtrl"] = "8";
}
<link href="/css/modern-business.css" rel="stylesheet">


<main>
    <div class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none">  </div>

    <div class="container">
        <h2>版型目錄</h2>
        <div class="row">
            <ul>
                <li>可選擇版型
                    <ul>
                        <li><a asp-controller="Layout" asp-action="Layout1" class="link-dark rounded" target="_blank">Layout1</a></li>
                        <li><a asp-controller="Layout" asp-action="Layout2" class="link-dark rounded" target="_blank">Layout2</a></li>
                        <li><a asp-controller="Layout" asp-action="Layout3" class="link-dark rounded" target="_blank">Layout3</a></li>
                        <li><a asp-controller="Layout" asp-action="Layout4" class="link-dark rounded" target="_blank">Layout4</a></li>                                  
                        <li><a asp-controller="Layout" asp-action="QA" class="link-dark rounded" target="_blank">Q&ampA</a></li>
                        <li><a asp-controller="Layout" asp-action="Heroes" class="link-dark rounded" target="_blank">Heroes</a></li>
                        <li><a asp-controller="Layout" asp-action="Features" class="link-dark rounded" target="_blank">Features</a></li>
                        <li><a asp-controller="Layout" asp-action="Footers" class="link-dark rounded" target="_blank">Footers</a></li>
                        <li><a asp-controller="Layout" asp-action="Album" class="link-dark rounded" target="_blank">Album</a></li>
                        <li><a asp-controller="Layout" asp-action="Product" class="link-dark rounded" target="_blank">Product</a></li>
                        <li><a asp-controller="Layout" asp-action="Blog" class="link-dark rounded" target="_blank">Blog</a></li>
                    </ul>
                </li>
                <li><a href="https://bootswatch.com/cerulean/" target="_blank">CSS樣式：Cerulean主題UI元件</a></li>
                <li><a href="https://icons.getbootstrap.com/" target="_blank">免費Icon提供</a></li>
                <li><a href="https://getbootstrap.com/docs/5.1/examples/" target="_blank">版型來源</a></li>
            </ul>
        </div>
    </div>
</main>

<script src="~/lib~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib~/lib/bootstrap/dist/js/sidebars.js"></script>








