@model edit20210325.Models.MemberSaveModel

@{
    ViewData["Title"] = "金幣儲值紀錄單編輯";
    ViewData["ＰageCtrl"] = "2";
}

<h1>金幣儲值紀錄單編輯</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="MemberSaveId" />
                @{
                    var member = (edit20210325.Models.MemberModel)ViewBag.member;
                }
                <p>@("會員名稱："+member.MemberName)</p>
                <p>@("會員帳號："+member.MemberGmail)</p>
            </div>
            <div class="form-group">
                <label asp-for="MemberSaveCash" class="control-label"></label>
                <input asp-for="MemberSaveCash" class="form-control" />
                <span asp-validation-for="MemberSaveCash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberSaveRemarks" class="control-label"></label>
                <input asp-for="MemberSaveRemarks" class="form-control" />
                <span asp-validation-for="MemberSaveRemarks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberSaveCreateDate" class="control-label"></label>
                <input asp-for="MemberSaveCreateDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                <span asp-validation-for="MemberSaveCreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberSaveChangeDate" class="control-label"></label>
                <input asp-for="MemberSaveChangeDate" type="date" asp-format="{0:yyyy-MM-dd}" class="form-control" />
                <span asp-validation-for="MemberSaveChangeDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary onDivLeft" />
                <button id="btnExit" class="btn btn-primary onDivRight cancel" asp-action="exit">取消</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
